# Go build artifacts
*.exe
*.exe~
*.out
*.o
*.a

# Dependency management
/vendor/

# Environment variables
.env

# IDE and editor files
.idea/
.vscode/
*.swp
*~

# Log files
*.log

# Test coverage files
*.cov

# Temporary files
.DS_Store
Thumbs.db

# files
database.go
models.go